APP_NAME=smart-garden-api
APP_ENV=development
API_PREFIX=/api/v1

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=smart_garden
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

ADAFRUIT_IO_USERNAME=your_username
ADAFRUIT_IO_KEY=your_key

CORS_ORIGINS=http://localhost:5173
